.jumbotron {
  color: black;
  margin-top: 10px;
  background-image: url(../images/jumbotom1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  font-size: calc(1em + 1vw);
  width: 100%; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #a1e4e6;
  margin-top: 50px;
  margin-bottom: 0px; }

.flex {
  margin-top: 100px; }

.h4 {
  text-align: center; }

.textoCentral {
  margin-left: 25px; }

.cabecera {
  font-size: 225%; }

.cardServicios {
  flex: 1 100px;
  padding: 2px 5px 2px 5px;
  height: 100%;
  margin-top: 10px;
  background-color: #a1e4e6; }

.footer-adress-icon {
  margin-right: 15px; }

img.zoom {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out; }

.transition {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2); }

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100px;
  background: rgba(255, 255, 255, 0.05); }

@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg); }
  50% {
    filter: hue-rotate(360deg); } }

.card-title {
  margin-top: 30px; }

.tab-content {
  padding-top: 10px; }

.imgCarousel {
  width: 700px;
  height: 450px; }

.img {
  border-radius: 55px 55px 55px 55px; }

.carousel {
  border-radius: 55px 55px 55px 55px;
  overflow: hidden; }

.tituloCarousel {
  text-align: center; }

.fotorafa {
  margin-left: 30px;
  margin-top: 80px; }

.infoRafa {
  margin-top: 2%;
  color: black; }

.experiencia {
  margin-top: 100px; }
