$yellow: #fffa19;

.jumbotron {
	color: black;
    margin-top: 10px;
    background-image: url(../images/jumbotom1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    font-size: calc(1em + 1vw);
    width:100%;
}
.footer {
	padding: 10px 10px 0 10px;
	background-image: url(../images/jumbotom1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	margin-bottom: 0px;
	margin-top: 10px;
	
}
.flex {
	margin-top:38px;
	
}
.h4 {
	text-align: center;
}
.textoCentral {
	margin-left:25px;
}
.cabecera{
	font-size: 225%
}
.cardServicios{
	flex: 1 100px;
    padding: 2px 5px 2px 5px;
    height: 100%;
    margin-top: 10px;

}

.footer-adress-icon{
	margin-right: 15px;
}

img.zoom {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}


 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

::-webkit-scrollbar {
	width: = 0;
}

#scrollPath
{
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100px;
	background: rgba(255,255,255,0.05);
}
#progressbar
{
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100px;
	background: : linear-gradient(to top, #008aff, #00ffe7);
	animation: animate 5s linear infinite;

}
@keyframes animate
{
	0%,100%
	{
		filter: hue-rotate(0deg);
	}
	50%
	{
		filter: hue-rotate(360deg);
	}
}
#progressbar:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: : linear-gradient(to top, #008aff, #00ffe7);
	filter: blur(10px);
}
#progressbar:after
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: : linear-gradient(to top, #008aff, #00ffe7);
	filter: blur(30px);
}
.card-title{
	margin-top: 30px;
}
.tab-content{
	padding-top: 10px;
}

.imgCarousel{
	width: 700px;
	height: 450px;

}

.img{
	border-radius: 55px 55px 55px 55px;
}

.carousel {
       border-radius: 55px 55px 55px 55px;
       overflow: hidden;
}
.tituloCarousel{
	text-align: center;
}

.fotorafa{
	margin-left: 30px;
	margin-top: 80px;
}

.infoRafa{
	margin-top: 2%;
	color: black;
}
.experiencia{
	margin-top: 40px;
}